nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}
nav .navbar-brand .black
{
    color: #73ddeb;
}

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
    	align-items: center;
    		/*background-image: linear-gradient(to top, #209cff 100%, #68e0cf 200%);*/
	/*display: flex;*/
	justify-content: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}
body {
	background-color: #333;
	margin: auto;
	color: white;
	min-height: 100vh;
	/*display: flex;*/
	justify-content: center;
	align-items: center;
	font-family: Georgia, 'Times New Roman', Times, serif;
  }